{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Budget Calculator</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table class="table" id="expenseTable">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Expenses</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form.name }}</td>
                    <td>
                        <div style="float: left;">
                            {{ form.amount }}
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table">
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>
                    <div style="float: left;">
                        ${{ expense.amount }}
                    </div>
                    <div style="float: right;">
                        <button type="submit" class="btn btn-link">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                    <div style="float: right;">
                        <button type="submit" class="btn btn-link">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Total</th>
                <th scope="col">${{ total | floatformat:2 }}</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}