{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Budget Calculator</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table class="table" id="incomeTable">
            <thead class="thead-dark">
              <tr>
                <th class="col-md-2">Income</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-1">
                        <div style="float: left;">
                            {{ incForm.income }}
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="create-income">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td class="col-md-2">
                        <div style="float: left;">
                            ${{ income.income }}
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="edit-income" value={{income.id}}>
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="delete-income" value={{income.id}}>
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-2">Total</th>
                    <th class="col-md-2">${{ incTotal | floatformat:2 }}</th>
                </tr>
            </thead>
        </table>
        <table class="table" id="expenseTable">
            <thead class="thead-dark">
              <tr>
                <th class="col-md-2">Expenses</th>
                <th class="col-md-2">Amount</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-2">{{ expForm.name }}</td>
                    <td class="col-md-2">
                        <div style="float: left;">
                            {{ expForm.amount }}
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="create-expense">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td class="col-md-2">{{ expense.name }}</td>
                    <td class="col-md-2">
                        <div style="float: left;">
                            ${{ expense.amount }}
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="edit-expense" value={{expense.id}}>
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-link" name="delete-expense" value={{expense.id}}>
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col-md-2">Total</th>
                <th class="col-md-2">${{ expTotal | floatformat:2 }}</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}